@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PPNeue';
  src: url('./assets/fonts/ppneue.woff2') format('woff2');
  font-display: swap;
}

:root {
  --background: 0 0% 98%;
  --foreground: 0 0% 8%;
  --primary: 245 100% 81%;
  --foreground: 0 0% 8%;
  --ring: 0 0% 88%;
  --card: 0 0% 94%;
  --secondary: 0 0% 11%;
  --secondary-foreground: 0 0% 94%;
  --border: 0 0% 88%;
}
